<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ui.geo.com.power">

    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.CAMERA" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--设置壁纸需要权限-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- 接收短信-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    //地图包、搜索包需要的基础权限

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    //定位包、导航包需要的额外权限（注：基础权限也需要）
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application
        android:name="com.geo.power.ui.PowerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--家里id
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="666f9ab6b2bf7beda814499c067c6708"></meta-data>
            -->
        <!-- 公司id-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2646deca1f74ed4bcc9da55b22e490fc"></meta-data>

        <activity
            android:name="com.geo.power.ui.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.geo.power.ui.activity.MainActivity"
            android:label="主界面" />
        <activity
            android:name="com.geo.power.ui.activity.MDTextInputLayoutLoginActivity"
            android:label="MaterialDesign"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.geo.power.ui.activity.RecycleViewActivity"
            android:label="RecycleView" />
        <activity android:name="com.geo.power.ui.activity.MaterialDesignGit" />
        <activity
            android:name="com.geo.power.ui.activity.LoginActivity"
            android:label="登录" />
        <activity
            android:name="com.geo.power.ui.activity.MyPlanActivity"
            android:label="我的计划" />
        <activity
            android:name="com.geo.power.ui.activity.SettingActivity"
            android:label="设置" />
        <activity
            android:name="com.geo.power.ui.activity.AboutActivity"
            android:label="关于" />
        <activity
            android:name="com.geo.power.ui.activity.SearchActivity"
            android:label="搜索" />
        <activity
            android:name="com.geo.power.ui.activity.MyPlanDetailActivity"
            android:label="我的计划详情" />
        <activity
            android:name="com.geo.power.ui.activity.AddDreamPlanActivity"
            android:label="心愿寄语"></activity>
        <activity
            android:name="com.geo.power.ui.activity.AddLongPlanActivity"
            android:label="长期计划"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.geo.power.ui.activity.AddWallpaperActivity"
            android:label="习惯壁纸"></activity>
        <activity
            android:name="com.geo.power.ui.activity.WallPaperSelectActivity"
            android:label="选择壁纸"></activity>
        <activity
            android:name="com.geo.power.ui.activity.AddLongPlanLocationActivity"
            android:label="选择位置"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.geo.power.ui.activity.SuggestionActivity"
            android:label="意见反馈" />
        <activity
            android:name="com.geo.power.ui.activity.MessageNotificationActivity"
            android:label="消息" />
        <activity
            android:name="com.geo.power.ui.activity.EditPlanActivity"
            android:label="编辑目标"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.geo.power.ui.activity.DiscoverDetailActivity"
            android:label="发现详情" />
        <activity
            android:name="com.geo.power.ui.activity.DreamListActivity"
            android:label="心愿瓶子" />
        <activity
            android:name="com.geo.power.ui.activity.DoPlanHistoryActivity"
            android:label="历史记录" />
        <activity
            android:name="com.geo.power.ui.activity.DiscoverDreamActivity"
            android:label="发现心愿瓶子" />
        <activity
            android:name="com.geo.power.ui.activity.ExperenceActivity"
            android:label="经验之谈" />
        <activity
            android:name="com.geo.power.ui.activity.DreamDetailActivity"
            android:label="心愿详情" />
        <activity
            android:name="com.geo.power.ui.activity.MyFavoriteActivity"
            android:label="我的收藏" />
        <activity
            android:name="com.geo.power.ui.activity.RegisterActivity"
            android:label="新账号注册" />
        <activity
            android:name="com.geo.power.ui.activity.RegisterNextActivity"
            android:label="新账号注册详细信息" />
        <activity
            android:name="com.geo.power.ui.activity.ForgetPasswordActivity"
            android:label="找回密码" />
        <activity
            android:name="com.geo.power.ui.activity.GuideActivity"
            android:label="用户引导页" />
        <activity
            android:name="com.geo.power.ui.activity.PlanAlarmActivity"
            android:label="计划任务提醒"></activity>
        <activity
            android:name="com.geo.power.ui.activity.UserProfileActivity"
            android:label="用户名片" />
        <activity android:name="com.geo.power.ui.activity.MyFriendActivity"
            android:label="好友"/>
        <!-- 选择图片-->
        <activity android:name="com.yongchun.library.view.ImageSelectorActivity"></activity>
        <activity android:name="com.yongchun.library.view.ImagePreviewActivity"></activity>
        <activity android:name="com.yongchun.library.view.ImageCropActivity"></activity>
        <!--短信验证码-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <!--////////以下是Bmob的推送服务 -->

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":bmobpush">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <!-- 用于进程保活 -->
        <service
            android:name="cn.bmob.push.lib.service.PushNotifyService"
            android:process=":bmobpush"></service>

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter>
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 第四部中创建的消息接收器，在这里进行注册 -->
        <receiver android:name="com.geo.power.ui.receiver.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>

        <!-- 接收心跳和唤醒的广播，要和PushService运行在同个进程 -->
        <receiver
            android:name="cn.bmob.push.PushNotifyReceiver"
            android:process=":bmobpush" >
            <intent-filter>
                <!-- 接收心跳广播的action -->
                <action android:name="cn.bmob.push.action.HEARTBEAT" />
                <!-- 接收唤醒广播的action -->
                <action android:name="cn.bmob.push.action.NOTIFY" />
            </intent-filter>
        </receiver>


        <!-- 以下是环信的即使通讯服务-->
        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="geostar-lw#power" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>



        <service android:name="com.geo.power.ui.service.CommonService"></service>
    </application>

</manifest>
